@import "tailwindcss";
:root {
  --color-light: #f4f2f3; /* Very light grey (backgrounds) */
  --color-mauve: #c0a9bd; /* Mauve (accents / highlights) */
  --color-slate: #94a7ae; /* Muted slate blue/grey (secondary text / UI) */
  --color-forest: #64766a; /* Muted forest green (primary text / buttons) */

  --color-bg: var(--color-light);
  --color-primary: var(--color-forest);
  --color-secondary: var(--color-slate);
  --color-accent: var(--color-mauve);
  --color-text: #3c4d42;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  /* font-family: "Abril Fatface", serif; */
}

::selection {
  background: var(--color-accent);
  color: var(--color-bg);
}

.navbar_container {
  padding: 30px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 900;
  color: var(--color-primary);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.comic-button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #64766a;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.comic-button:hover {
  background-color: #fff;
  color: #94a7ae;
  border: 2px solid #94a7ae;
  box-shadow: 5px 5px 0px #94a7ae;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.nav_links {
  color: var(--color-primary);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15px;
}

.nav_links a:hover,
.nav_links a.active {
  color: var(--color-accent);
  transition: 0.1s;
  background-color: #fff;
  color: #94a7ae;
  border: 2px solid #94a7ae;
  box-shadow: 5px 5px 0px #94a7ae;
}

.hero_text_top h1 {
  font-weight: 900;
  line-height: 1.2;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-wrap: wrap;

  color: var(--color-text);
}

.hero_images {
  position: relative;
}

.hero_images img {
  border-radius: 20px;
  width: 250px;
}

.hero_img_i {
  position: relative;
  width: 250px;
  height: 250px;
  transform: translateY(100px);
}

.hero_img_ {
  position: relative;
  width: 250px;
  height: 300px;
}

.hero_img_i img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_img_ img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_img_2 {
  width: 330px;
  height: 160px;
  margin-left: -80px;
  position: relative;
}

.hero_img_2 img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blob_one {
  position: absolute;
  background-color: var(--color-bg);
  padding: 20px;
  top: -10%;
  left: 180px;
  border-radius: 55% 45% 59% 41% / 47% 30% 70% 53%;
}

.blob_one_inner {
  background-color: #789c5c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 5px 5px 0px #789c5c33;
}

.blob_t {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -50px;
  left: 130px;
  border-radius: 50%;
  background-color: #703c9e;
  border-radius: 55% 45% 34% 66% / 33% 30% 70% 67%;
}

.blob_two {
  position: absolute;
  background-color: var(--color-bg);
  padding: 10px;
  left: -50px;
  border-radius: 50px;
  left: 200px;
  top: -20px;
}

.blob_two_inner {
  width: 150px;
  height: 62px;
  border-radius: 50px;
  background-color: #703c9e;
}

.blob_two_inner .chain {
  rotate: 135deg;
}

.blob_te {
  position: absolute;
  bottom: 60px;
  right: 200px;
  color: #7190af;
}

.blob_th {
  position: absolute;
  top: 100px;
  left: -40px;
  color: #7190af;
}

.blob_tr {
  position: absolute;
  bottom: 40px;
  right: 150px;
  width: 20px;
  height: 20px;
  border-radius: 74% 26% 54% 46% / 29% 75% 25% 71%;
  background-color: #789c5c;
}
